<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-12-27-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>503991184.67242199</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2016-01-29-2015summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>503984328.43823302</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-12-21-2016-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>504975894.68857998</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2017-01-14-twoweeks.md</key>
			<dict>
				<key>lastModification</key>
				<real>506051322.71915698</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>17</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503991197.21758801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-01-14-twoweeks.md</string>
		</array>
		<array>
			<string>2015-12-27-2016.md</string>
		</array>
		<array>
			<string>2016-01-29-2015summary.md</string>
		</array>
		<array>
			<string>2016-12-21-2016-summary.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>18</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
