<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-12-14-google-search-hotkey.md</key>
			<dict>
				<key>lastModification</key>
				<real>503556659.48738599</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-01-14-record-sound.md</key>
			<dict>
				<key>lastModification</key>
				<real>506100512.83506602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2017-01-26-install-matplotlib-on-macos-sierra.md</key>
			<dict>
				<key>lastModification</key>
				<real>507132993.88561398</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2017-02-13-neo4j.md</key>
			<dict>
				<key>lastModification</key>
				<real>509019407.24629802</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>2017-02-15-dataframe.md</key>
			<dict>
				<key>lastModification</key>
				<real>508893936.68352097</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2017-02-24-spark-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>509617334.80860901</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>2017-02-28-spark-integrate-jn.md</key>
			<dict>
				<key>lastModification</key>
				<real>509972756.69259799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>41</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-02-28-spark-integrate-jn.md</string>
		</array>
		<array>
			<string>2017-02-24-spark-intro.md</string>
		</array>
		<array>
			<string>2017-02-13-neo4j.md</string>
		</array>
		<array>
			<string>2017-02-15-dataframe.md</string>
		</array>
		<array>
			<string>2017-01-26-install-matplotlib-on-macos-sierra.md</string>
		</array>
		<array>
			<string>2017-01-14-record-sound.md</string>
		</array>
		<array>
			<string>2016-12-14-google-search-hotkey.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
