<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>createMarkedFile</key>
		<real>480849650</real>
		<key>sheetClusters</key>
		<dict>
			<key>2011-05-22-first-blog.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-06-11-about-yesterday.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-06-21-character.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-06-21-this-is-happiness.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-06-29-write-sth.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-07-14-USTC.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-08-27-hello-GZ.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-09-13-am-i.markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-09-21-beijing.markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-09-27-resently.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-11-20-i-love-math.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-12-21-manage-your-pwd.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-01-02-goodbye-2011.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-01-21-kindle-meets-comics.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-02-11-none.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-travel-abroad.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-12-be-interesting.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-18-its-care.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-22-record-life.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-23-svn.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-27-reading.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-02-MFC.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-05-do-it-early.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-07-not-feeling-well.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-16-memory.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-24-get-information.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-03-in-may.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-12-b-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-21-finish-paper.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-27-hello-world.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-08-16-first-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-08-28-being-with-you.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-10-01-set-in-delft.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-10-03-badminton-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-11-25-category_test.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-12-01-december-comes.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-12-15-github-blogging.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-05-spain-book.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-10-watch-tv-ipad.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-02-12-here-2013.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-02-27-music-theory.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-03-30-suprise-in-life.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-04-02-learning-tex.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-02-03-leaving home.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-03-16-photos.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-07-24-eastofeurope.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-08-02-trekking.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>487708797.36799401</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2014-11-09-delft-blue-painting.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-09-30-mac-set-tplink.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-04-osx-test.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-06-software.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-17-change-to-safari.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-09-christmas-market.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-16-ulysses.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-20-omnifocus.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-21-omnifocus-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-22-suprise.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-27-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-01-29-2015summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-01-classic_music.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-05-font.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-06-evernote-note-to-omnifocus.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-23-kazoku.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-28-handoff.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-27-rowing.md</key>
			<dict>
				<key>lastModification</key>
				<real>483570960.46572602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2016-05-15-goodbye.md</key>
			<dict>
				<key>lastModification</key>
				<real>485430747.95833099</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2016-06-15-tmb-packing.md</key>
			<dict>
				<key>lastModification</key>
				<real>487711593.17895502</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>2016-07-30-tmb-packing - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>491969579.08507001</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>2016-09-03-convert_to_epub.md</key>
			<dict>
				<key>lastModification</key>
				<real>494601191.80231202</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>2016-09-04-hazel-rule.md</key>
			<dict>
				<key>lastModification</key>
				<real>494696094.66115201</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>2016-09-17-self-control - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>497112714.65984601</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>2016-10-02-do-better.md</key>
			<dict>
				<key>lastModification</key>
				<real>497114213.10609198</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2016-10-09-howtocommunicate.md</key>
			<dict>
				<key>lastModification</key>
				<real>497680869.30006999</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>2016-10-16-communicate.md</key>
			<dict>
				<key>lastModification</key>
				<real>498286965.41557997</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>2016-10-21-yogurt.md</key>
			<dict>
				<key>lastModification</key>
				<real>498736396.97997302</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>2016-10-22-relationship.md</key>
			<dict>
				<key>lastModification</key>
				<real>499509360.28520399</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>2016-11-27-influence.md</key>
			<dict>
				<key>lastModification</key>
				<real>501913099.78797799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>2016-11-27-shortcut.md</key>
			<dict>
				<key>lastModification</key>
				<real>501916959.90500098</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>108</integer>
				</dict>
			</dict>
			<key>2016-11-29-christmas.md</key>
			<dict>
				<key>lastModification</key>
				<real>502093409.259727</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>2016-12-1-where-am-i.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503295743.47793198</real>
				<key>lastModification</key>
				<real>503295743.47793198</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>2016-12-6-veg-in-salad.md</key>
			<dict>
				<key>lastModification</key>
				<real>502726775.70029199</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>126</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>502940644.32849503</real>
				<key>lastModification</key>
				<real>502940644.32849503</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>130</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>495101194.34689999</real>
		<key>userIconName</key>
		<real>480849650</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>2016-12-6-veg-in-salad.md</string>
		</array>
		<array>
			<string>2016-12-1-where-am-i.md</string>
		</array>
		<array>
			<string>2016-11-29-christmas.md</string>
		</array>
		<array>
			<string>2016-11-27-shortcut.md</string>
		</array>
		<array>
			<string>2016-11-27-influence.md</string>
		</array>
		<array>
			<string>2016-10-22-relationship.md</string>
		</array>
		<array>
			<string>2016-10-21-yogurt.md</string>
		</array>
		<array>
			<string>2016-10-16-communicate.md</string>
		</array>
		<array>
			<string>2016-10-09-howtocommunicate.md</string>
		</array>
		<array>
			<string>2016-10-02-do-better.md</string>
		</array>
		<array>
			<string>2016-09-17-self-control - 2.md</string>
		</array>
		<array>
			<string>2016-09-04-hazel-rule.md</string>
		</array>
		<array>
			<string>2016-09-03-convert_to_epub.md</string>
		</array>
		<array>
			<string>2016-07-30-tmb-packing - 2.md</string>
		</array>
		<array>
			<string>2016-06-15-tmb-packing.md</string>
		</array>
		<array>
			<string>2016-05-15-goodbye.md</string>
		</array>
		<array>
			<string>2016-04-27-rowing.md</string>
		</array>
		<array>
			<string>2016-03-28-handoff.md</string>
		</array>
		<array>
			<string>2016-03-23-kazoku.md</string>
		</array>
		<array>
			<string>2016-03-06-evernote-note-to-omnifocus.md</string>
		</array>
		<array>
			<string>2016-03-05-font.md</string>
		</array>
		<array>
			<string>2016-03-01-classic_music.md</string>
		</array>
		<array>
			<string>2016-01-29-2015summary.md</string>
		</array>
		<array>
			<string>2015-12-27-2016.md</string>
		</array>
		<array>
			<string>2015-12-22-suprise.md</string>
		</array>
		<array>
			<string>2015-12-20-omnifocus.md</string>
		</array>
		<array>
			<string>2015-12-21-omnifocus-2.md</string>
		</array>
		<array>
			<string>2015-12-16-ulysses.md</string>
		</array>
		<array>
			<string>2011-05-22-first-blog.markdown</string>
		</array>
		<array>
			<string>2011-06-11-about-yesterday.markdown</string>
		</array>
		<array>
			<string>2011-06-21-character.markdown</string>
		</array>
		<array>
			<string>2011-06-21-this-is-happiness.markdown</string>
		</array>
		<array>
			<string>2011-06-29-write-sth.markdown</string>
		</array>
		<array>
			<string>2011-07-14-USTC.markdown</string>
		</array>
		<array>
			<string>2011-08-27-hello-GZ.markdown</string>
		</array>
		<array>
			<string>2011-09-13-am-i.markdown.md</string>
		</array>
		<array>
			<string>2011-09-21-beijing.markdown.md</string>
		</array>
		<array>
			<string>2011-09-27-resently.markdown</string>
		</array>
		<array>
			<string>2011-11-20-i-love-math.markdown</string>
		</array>
		<array>
			<string>2011-12-21-manage-your-pwd.markdown</string>
		</array>
		<array>
			<string>2012-01-02-goodbye-2011.markdown</string>
		</array>
		<array>
			<string>2012-01-21-kindle-meets-comics.markdown</string>
		</array>
		<array>
			<string>2012-02-11-none.markdown</string>
		</array>
		<array>
			<string>2012-03-01-travel-abroad.markdown</string>
		</array>
		<array>
			<string>2012-03-12-be-interesting.markdown</string>
		</array>
		<array>
			<string>2012-03-18-its-care.markdown</string>
		</array>
		<array>
			<string>2012-03-22-record-life.markdown</string>
		</array>
		<array>
			<string>2012-03-23-svn.markdown</string>
		</array>
		<array>
			<string>2012-03-27-reading.markdown</string>
		</array>
		<array>
			<string>2012-04-02-MFC.markdown</string>
		</array>
		<array>
			<string>2012-04-05-do-it-early.markdown</string>
		</array>
		<array>
			<string>2012-04-07-not-feeling-well.markdown</string>
		</array>
		<array>
			<string>2012-04-16-memory.markdown</string>
		</array>
		<array>
			<string>2012-04-24-get-information.markdown</string>
		</array>
		<array>
			<string>2012-05-03-in-may.markdown</string>
		</array>
		<array>
			<string>2012-05-12-b-day.markdown</string>
		</array>
		<array>
			<string>2012-05-21-finish-paper.markdown</string>
		</array>
		<array>
			<string>2012-05-27-hello-world.markdown</string>
		</array>
		<array>
			<string>2012-08-16-first-day.markdown</string>
		</array>
		<array>
			<string>2012-08-28-being-with-you.markdown</string>
		</array>
		<array>
			<string>2012-10-01-set-in-delft.markdown</string>
		</array>
		<array>
			<string>2012-10-03-badminton-day.markdown</string>
		</array>
		<array>
			<string>2012-11-25-category_test.markdown</string>
		</array>
		<array>
			<string>2012-12-01-december-comes.markdown</string>
		</array>
		<array>
			<string>2012-12-15-github-blogging.markdown</string>
		</array>
		<array>
			<string>2013-01-05-spain-book.markdown</string>
		</array>
		<array>
			<string>2013-01-10-watch-tv-ipad.markdown</string>
		</array>
		<array>
			<string>2013-02-12-here-2013.markdown</string>
		</array>
		<array>
			<string>2013-02-27-music-theory.markdown</string>
		</array>
		<array>
			<string>2013-03-30-suprise-in-life.markdown</string>
		</array>
		<array>
			<string>2013-04-02-learning-tex.markdown</string>
		</array>
		<array>
			<string>2014-08-02-trekking.markdown</string>
		</array>
		<array>
			<string>2014-02-03-leaving home.markdown</string>
		</array>
		<array>
			<string>2014-03-16-photos.markdown</string>
		</array>
		<array>
			<string>2014-07-24-eastofeurope.markdown</string>
		</array>
		<array>
			<string>2014-11-09-delft-blue-painting.markdown</string>
		</array>
		<array>
			<string>2015-09-30-mac-set-tplink.md</string>
		</array>
		<array>
			<string>2015-11-04-osx-test.markdown</string>
		</array>
		<array>
			<string>2015-11-06-software.markdown</string>
		</array>
		<array>
			<string>2015-11-17-change-to-safari.markdown</string>
		</array>
		<array>
			<string>2015-12-09-christmas-market.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>7</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>131</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>2</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
